[Unit]
Description=Gunicorn instance to serve smartweb
After=network.target

[Service]
User=runerova
Group=www-data
WorkingDirectory=/home/runerova/smartweb
ExecStart=/home/runerova/smartweb/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
